body
{
   background-color: #dce7e4;
   
}

hr 
{
   
  
   border-style:none;
   border-top-style: dotted;
   border-width: 8px;
   width: 18%;
   border-color: rgb(117, 164, 149);
}

img
{
   height: 320px;

}
 
h1{
    color:#737be9 ;
} 
 h3{
    color: #1ec1c1;
 }


